body {
    background: url(../img/bg.jpg);
    overflow-x: hidden;
    font-family: Helvetica,Arial,sans-serif;
}

/* Cabeçalho do site
*********************************/
ul.sociais {
    list-style: none;
}

.sociais li {
    margin-left: 10px;
}

/* Navegação
*********************************/


/* Banner
*********************************/
section#banner {
    
    height: 550px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.subtitulo {
    font-weight: 500;
    letter-spacing: 0.05em;
    font-size: 1.1em;
    color: #fff ;
}

/* Tipografia
*********************************/
h1 {
    font-weight: 900;
    letter-spacing: 0.05em;
    font-size: 4.5em;
    color: aqua;
}